@media (min-width: 768px) and (max-width: 1024px) {
  .center { 
    padding-left: 24px !important; 
    padding-right: 24px !important; 
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
  } 

  .top-catalog, .product-catalog, .cart, .footer {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
  }

  .for { 
    &__item { 
      height: 268px; 
    } 
  } 

    .product__content,
    .product-catalog__grid,
    .product__grid { 
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: flex-start !important; 
        column-gap: 24px !important; 
        row-gap: 36px !important;    
        width: 100% !important;
    } 
  
  @media (max-width: 991px) {
    .product-card, 
    .product-catalog-card { 
      width: calc((100% - 24px) / 2) !important;
      box-sizing: border-box !important;
    }
  }

  @media (min-width: 992px) {
    .product-card, 
    .product-catalog-card { 
      width: calc((100% - 48px) / 3) !important;
      box-sizing: border-box !important;
    }
  }

  .product__title { font-size: 47px; } 
  .product-card__name { font-size: 24px; } 
  .product-card__price--new { font-size: 24px; } 

  .product-catalog__filter-wrapper { position: static; } 

  .filter-popup { 
    left: auto; 
    right: 0; 
    top: 80%; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
  } 

  .footer__logo-box { display: none; } 

  .cart { 
    display: flex; 
    flex-direction: column; 
    gap: 48px; 

    &__content { width: 100%; } 
    &__form { 
      max-width: 420px; width: 100%; margin: 0; padding: 40px 30px; 
      h3 { font-size: 24px; font-weight: 500; margin-bottom: 40px; } 
    } 
    &__form-group { max-width: 290px; margin-left: auto; margin-right: auto; margin-bottom: 30px; } 
    &__total-section { font-size: 24px; margin: 45px 0 30px 0; } 
  } 

  .btn_submit { max-width: 290px; margin: 0 auto; display: block; } 
}
